main {
    color: black;
    text-shadow: 1px 1px 0px white, -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white;
    font-size: 23px;
    text-decoration: none;
    margin: 10px;
    margin-bottom: 5px;
}
body {
    background: #eb99fc5b;
}

.error {
    color:red;
    font-weight: bold;
}
.b {
    background-color: #000000;
    text-shadow: 1px 1px 0px white, -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 150px;
    padding: 10px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}
.p {
    background-color: #ee56ee44;
    border: 3px solid rgb(78, 75, 75);
    border-radius: 30px;
    width: 150px;
    height: 30px;
    color: #523c3c;
    font-size: 16px;
    padding: 0 20px;
    margin-bottom: 15px;
}