<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ярославцев Богдан Всеволодович. Лабораторная 2</title>
    </head>
    <body>
        <header>
            WEB-программирование, часть 2. Лабораторная работа {{numlab}}
        </header>

        <main>
            
        </main>


        <footer>
            <hr>
            &copy; {{name}}, {{group}}, {{numbCourse}}, 2024   
        </footer>
    </body>
</html>